@font-face {
  font-family: 'Pokemon_classic';
  src: url(fonts/Pokemon_classic.ttf),
       url(fonts/pokemom_solid.ttf),
       url(fonts/pokemon_hollow.ttf),
       url(fonts/pokemon_pixel_font.ttf)
}

body {
  font-family: 'Pokemon_classic';
  color: rgb(242, 236, 67);
  background-color: #120C3F;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='599' height='599' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23404' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%23505'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pageUne {
  margin-top: -80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

/* #bulleO {
  display: flex;
  justify-content: center;
  height: 100px;
}

#bulleS {
  display: flex;
  justify-content: center;
  height: 100px;
} */

.ondine {
  position:relative;
  right:50px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width: 25%;
}

#ondine {
  width: 70%;
  /* margin-top: -75px; */
}


.sacha {
  position:relative;
  left:50px;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  width:25%;
}

#sacha {
	width:100%;
  /* margin-top: -45px; */
}

.carton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* margin-left: 50px;
  margin-right: 20px; */
  width: 50%;
}

.bulleO {
  position:relative;
  right:100px;
}

#bulleO {
  width: 60%;
}

.bulleS {
  position:relative;
  left:300px;
}

#bulleS {
  width: 50%;
}


.pageDeux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reponse {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.reponse1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reponse2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reponse3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#description {
  background-color: aliceblue;
  margin: 5px;
  margin-block: 5px;
  color:rgb(3, 8, 103);
  font-size: 12px;
}

/* .pageDeux {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */


  /* .namePoke {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  color:rgb(248, 244, 244)
}

.astroResult {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 20px;
}

#horoscope {
  width: 80%;
  margin-left: 100px;
  margin-top: 50px;
} */

.vieuxP {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pierre {
  width: 40%;
  margin-top: -40px;
}

#bulleP {
  width: 80%;
}

.boutonP {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .nomPokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sprite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.pourquoi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
} */

/* bloquer le scroll */
/* html, body { 
  height: 100%;
  overflow: hidden
} */

/* #haut {
  size: auto;
	width: 80%;
	height: auto;
	text-align: center;
	margin: auto;
} */

/*.titre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}*/

/* section {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
  margin: 20px;
} */

/* .titre {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

/* button {
	display: inline-block;
  font-family: 'Pokemon_classic';
  text-align: center;
	background-color: rgb(14, 50, 233);
	border-radius: 15px;
	border: solid rgb(3, 8, 103);
	text-align: center;
	font-size: 15px;
	padding: 5px;
	margin: 10px;
	width: 200px;
} */
button:hover {
	background-color: rgb(249, 217, 10);
}

button {
	display: inline-block;
  font-family: 'Pokemon_classic';
  text-align: center;
	background-color: rgb(14, 50, 233);
	border-radius: 15px;
	border: solid rgb(3, 8, 103);
	text-align: center;
	font-size: 15px;
	padding: 5px;
	margin: 10px;
	width: 200px;
  height: 70px;
  width: 160px;
}

#boutonGenerer {
  height: 70px;
  width: 160px;
}

.boutonReco {
  display: flex;
  justify-content: center;
}

#boutonReco {
  background-color: rgb(14, 50, 233);
	border-radius: 15px;
	border: solid rgb(3, 8, 103);
  height: 50px;
  width: 160px;
}

#boutonReco:hover {
  background-color: rgb(249, 217, 10);
}

#pokemonFr {
  font: bolder;
  font-family: src=url(fonts/pokemom_solid.ttf);
  font-size: 200%;
  color: white;
}
/* .slider {
  overflow: hidden;
} */

/* div.slidePoke {
  display:flex;
  align-items: center;
  flex-direction: row;
  width: calc(500px * 4);
  animation: glisse 15s infinite ease;
  height: 150px;
  background-color: salmon;
  border: black;
} */

/* .slideImg {
  width: 50%;
  height: 50%;
  margin: 100px;
  background-color: yellow;
} */


@keyframes glisse {  /* pack qui va permetre de définir plusieurs niveaux d'animation*/

  0% { /* "0%" correspond au dédut de l'animation sur l'axe x*/
    transform: translateX(0);
  }

  10% { /* "10%" des 15s */
    transform: translateX(0);
  }

  33% {
    transform: translateX(-500px); /* "-500px" position de l'image  */
  }

  66% {
    transform: translateX(-500px);
  }

  100% { /* "100%" correspond à la fin de l'animation sur l'axe x*/
    transform: translateX(0); /* position de l'animation, l'image revient au début */
  }
}





